<div>
    <div class="col-md-12 text-center">
        <h2>Control del sitio de trabajo</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <label>Desde *</label>
            <input class="form-control" type="date" ng-model="$ctrl.filtro.desde" />
        </div>

        <div class="col-md-6">
            <label>Hasta *</label>
            <input class="form-control" type="date" ng-model="$ctrl.filtro.hasta" />
        </div>

        <div class="col-md-6">
            <label>Empleado *</label>
            <select class="form-control" ng-model="$ctrl.filtro.idEmpleado" ng-options="c.IdEmpleado as c.Nombre + ' ' + c.Apellido   for c in $ctrl.empleados"></select>
        </div>

        <div class="col-md-6">
            <label>Cargo *</label>
            <select class="form-control" ng-model="$ctrl.filtro.idCargo" ng-options="c.IdCargo as c.Descripcion for c in $ctrl.cargos"></select>
        </div>

        <div class="col-md-6">
            <label>Tienda *</label>
            <select class="form-control" ng-model="$ctrl.filtro.idTienda" ng-options="c.IdTienda as c.Nombre for c in $ctrl.tiendas"></select>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary" ng-click="$ctrl.init()">Buscar</button>
        </div>
    </div>

    <div>
        <tabla-component propiedades="$ctrl.propiedades" data="$ctrl.sitioTrabajos" url="#!sitioTrabajo" id="IdControlSitioTrabajo"
                         eliminar-reguistro="$ctrl.eliminarSitioTrabajo(data)" propiedad-alerta="FechaIngreso">
        </tabla-component>
    </div>
</div>